body {
  margin: 0;
  box-sizing: content-box;
  width: fit-content;
}

.main-container {
  box-sizing: border-box;
  width: 100%;
}

h1,
h2 {
  font-family: "Montserrat";
  font-weight: bold;
  margin: 0;
}
h3,
h4,
h5 {
  font-family: "Roboto";
  font-weight: bold;
}

li {
  font-family: "Montserrat";
}

h2 {
  font-size: 22px;
  text-transform: uppercase;
}

p {
  font-family: "Montserrat";
}

h4 {
  font-size: 17px;
  text-transform: uppercase;
}
.more-thoughts-text p {
  font-family: "Roboto";
}

.text-span {
  color: #f9ab49;
}

a {
  color: black;
  font-size: 20px;
}
.arrow {
  color: #ff9800;
  font-weight: 900;
  text-decoration: underline #ff9800;
}

header {
  background-image: url("./assets/background-image.jpg");
  background-size: cover;
}

.button-box {
  display: flex;
  justify-content: flex-end;
  padding-top: 50px;
  padding-right: 25px;
}

button {
  border: 3px solid #ffffff;
  border-radius: 50%;
  width: 39px;
  height: 39px;
  opacity: 1;
  background-color: transparent;
  margin: 5px;
}
.other-project-text,
.more-thought {
  text-decoration: underline;
}
.header-text {
  display: flex;
  flex-flow: column-reverse;
  color: white;
  margin-left: 49px;

  width: 400px;
}

.header-text h1 {
  font-size: 40px;
}

.header-portfolio,
.header-text h3 {
  font-size: 13px;
  text-transform: uppercase;
  margin: 0;
}

.header-picture {
  width: 162px;
  height: 162px;
  background: transparent url("img/slack-imgs-1.png") 0% 0% no-repeat
    padding-box;
  border: 3px solid #ffffff;
  opacity: 1;
  border-radius: 50%;
  bottom: -40px;
  margin-left: 140px;
}
.subtitle {
  order: -2;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 24px;
  text-transform: lowercase;
}

.header-logo img {
  width: 162px;
  height: 162px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  position: relative;
  left: 44%;
  top: 30px;
  object-fit: cover;
}

.info-box {
  background: #f4f4f4 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-top: 0;
  padding-top: 35px;
  padding-bottom: 35px;
}

.info-text {
  font-size: 17px;
  text-align: left;
  margin: 75px;
}

.info-symbol {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  float: left;
  shape-outside: inset(0px 0px 0px 0px);
  width: 50px;
  height: 17px;
  margin-right: 10px;
}

.line {
  width: 40px;
  height: 3px;
  background-color: #f9ab49;
  border-radius: 5px;
}

.circle {
  width: 12px;
  height: 12px;
  margin-left: -2px;
  background-color: #f9ab49;
  border-radius: 50%;
}

.tech-text {
  text-align: center;
  font-size: 17px;
  margin: 36px;
  padding-top: 25px;
  display: flex;
  margin: auto;
  width: 65%;
}

.project-text p,
h4 {
  display: contents;
  margin: 0;
}

.project-text h4 {
  font-size: 17px;
  color: #f9ab49;
}

.project-text p {
  font-family: "Roboto";
  font-size: 17px;
}
.project {
  margin: auto 0;
  display: inline-grid;
  justify-items: center;
  width: 350px;
}
.featured-projects {
  background: #f4f4f4 0% 0% no-repeat padding-box;
  opacity: 1;
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 42px;
  justify-content: center;
  padding-top: 50px;
}

.box-text {
  color: #f9ab49;
  margin: 10px;
  display: flex;
  justify-content: center;
}

.box {
  background: #f9ab49 0% 0% no-repeat padding-box;
  text-align: center;
  color: white;
  width: fit-content;
  height: auto;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 320px;
}

.tech-block {
  background-color: #f9ab49;
  width: 51px;
  height: 17px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  border: 1px solid #f9ab49;
  font-family: "Roboto";
  font-size: 9px;
  align-items: center;
  justify-content: center;
}

.project-text,
.other-project-text,
.more-thoughts-text,
.my-thoughts-text {
  margin-left: 25px;
  margin-right: 25px;
}

.tech-block-container {
  display: flex;
  justify-self: flex-start;
  margin-left: 25px;
  margin-bottom: 30px;
  margin-top: 5px;
}

.featured-projects-img {
  width: 301px;
  margin-bottom: 20px;
}


#other-thoughts {
  padding: 10px;
}
.other-projects,
.more {
  background: #f4f4f4 0% 0% no-repeat padding-box;
  opacity: 1;
  display: flex;
  justify-content: center;
  padding-top: 140px;
  padding-bottom: 140px;
}
.more-thoughts {
  display: flex;
  justify-content: center;
  background: #ffffff 0% 0% no-repeat padding-box;
}

.other-project-text h4 {
  font-size: 17px;
  color: #f9ab49;
}

.other-project-text p {
  font-family: "Roboto";
  font-size: 17px;
  margin: 0;
  display: contents;
}

.my-thoughts-img {
  width: 301px;
  height: 205px;
  margin: 0 auto;
  display: flex;
}

.my-thougths-text {
  margin-left: 30px;
  display: block;
}

.my-thoughts-text h5 {
  margin: 0;
  padding-top: 30px;
  font-size: 25px;
  text-transform: uppercase;
  color: #f9ab49;
}
.my-thoughts-text p {
  margin: 0;
}

.my-thoughts-text a {
  font-size: large;
}

.more-thoughts-box {
  text-align: center;
  margin: 0 auto;
  color: #f9ab49;
}

.skills {
  background: #f4f4f4 0% 0% no-repeat padding-box;
  opacity: 1;
}

.skills,
ul {
  list-style-type: none;
  font-size: 17px;
  padding: 20px;
}

.skills-text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #f9ab49;
  padding: 0;
  text-align: center;
  justify-content: center;
}

.skills-text h3 {
  font-size: 17px;
  text-transform: uppercase;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.for-more-buttons {
  width: 59px;
  height: 58px;
  border-radius: 50%;
  border: 3px solid #f9ab49;
  opacity: 1;
  margin-top: 25px;
  margin-bottom: 25px;
}

footer {
  height: 270px;
  background-color: #f9ab49;
  opacity: 1;
}

.footer-text {
  color: white;
  text-align: center;
  padding-top: 40px;
}

.footer-text h4 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 21px;
  text-transform: uppercase;
}

.footer-name {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 17px;
}

.footer-info {
  font-family: "Roboto";
  font-size: 17px;
}
@media only screen and (min-width: 636px) {

  .header-logo img {
    width: 225px;
    height: 225px;
    right: 10%;
  }

  .featured-projects,
  .my-thougths {
    display: grid;
    grid-template-columns: 350px 350px;
    justify-content: center;
  }
  .other-projects,
  .more {
    padding-top: 140px;
    padding-bottom: 140px;
  }
  .more-thoughts-container {
    padding: 50px;
  }
  .skills-text {
    justify-content: center;
  }

  .header-logo {
    left: 68%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


.project-hover{
  position: relative;
  top: 150px;
  color: white;
  font-size: 30px;
  background: black;
  font-family: "Montserrat";
  font-weight: bold;
  display: none;
}

/* .project-hover:hover{
  display: flex;
  color: #f9ab49;
} */

  .header-logo img {
    width: 333px;
    height: 333px;
    left: 60%;
  }

  p {
    font-family: "Montserrat";
    font-size: 25px;
  }
  .header-text h1 {
    font-size: 82px;
  }
  .header-text h3 {
    font-size: 28px;
  }
  h2 {
    font-size: 48px;
  }
  h4 {
    font-size: 25px;
  }

  .tech-box {
    margin-top: 110px;
    margin-bottom: 50px;
    width: 161px;
    height: 64px;
  }

  .featured-projects-img,
  .my-thoughts-img {
    width: 501px;
    height: auto;
  }
  .my-thougths,
  .featured-projects {
    display: grid;
    grid-template-columns: 550px 550px;
    justify-content: center;
  }

  .tech-block {
    font-size: 15px;
    width: fit-content;
    padding: 5px;
  }

  .box {
    margin-top: 110px;
    margin-bottom: 50px;
    font-size: 38px;
  }

  .for-more-buttons {
    width: 160px;
    height: 160px;
    margin: 20px;
  }
  .for-more-buttons img {
    width: 55px;
    height: 55px;
  }
  .skills-text {
    justify-content: center;
    padding-bottom: 150px;
    padding-top: 70px;
  }
  .skills-text h3 {
    font-size: 25px;
  }
  li {
    font-size: 25px;
  }
  .footer-text h4 {
    font-size: 38px;
  }
  .footer-name {
    font-size: 30px;
  }

  .footer-info {
    font-size: 30px;
  }
  .header-text {
    margin-left: 140px;
  }
  button {
    width: 80px;
    height: 80px;
  }
  button img {
    width: 30px;
    height: 30px;
  }
  
  .tech-block-container {
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 5px;
}

  .more-thoughts-text {
    margin-top: 110px;
    margin-bottom: 50px;
    margin-left: 416px;
    margin-right: 416px;
  }
  .project-text p {
    font-size: 25px;
  }
  .project-text h4 {
    font-size: 25px;
  }
  .other-project-text p {
    font-size: 25px;
  }
  .other-project-text h4 {
    font-size: 25px;
  }
  .button-box {
    padding-right: 275px;
  }

  .project-text,
  .other-project-text,
  .more-thoughts-text,
  .my-thoughts-text {
    margin-left: 0px;
    margin-right: 0px;
  }
}

